# 20 Python Data Structure Manipulation Exercises

In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [5]:
# count number of students

count_of_students = len(students)

count_of_students

14

In [7]:
count = 0

for dict in students:
    if dict["coffee_preference"] == "light":
        count += 1

print(count)

3

In [27]:
types_of_pets = []

for x in students:
    for term in x:
        if term == 'species':
            types_of_pets.append(pets['species'])
        else:
            continue
    
    
    
types_of_pets

[]

In [33]:
unique_pet_types = list({pet['species'] for student in students for pet in student['pets']})
unique_pet_types

['horse', 'dog', 'cat']

How many grades does each student have? 
Do they all have the same number of grades?

In [15]:
def count(lst):
    count = 0
    for num in lst:
        count += 1
    return count

grades_per_student = [(student['student'], count(student['grades'])) for student in students]
grades_per_student

[('Ada Lovelace', 4),
 ('Thomas Bayes', 4),
 ('Marie Curie', 4),
 ('Grace Hopper', 4),
 ('Alan Turing', 4),
 ('Rosalind Franklin', 4),
 ('Elizabeth Blackwell', 4),
 ('Rene Descartes', 4),
 ('Ahmed Zewail', 4),
 ('Chien-Shiung Wu', 4),
 ('William Sanford Nye', 4),
 ('Carl Sagan', 4),
 ('Jane Goodall', 4),
 ('Richard Feynman', 4)]

In [5]:
def avg(lst):
    return sum(lst) / len(lst)

grade_avg_per_student = [avg(grades) for grades in grades_per_student]
grade_avg_per_student

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

How many pets does each student have?

In [30]:
pet_counts = [list((student["student"], len(student["pets"]))) for student in students]
print(pet_counts)

[['Ada Lovelace', 1], ['Thomas Bayes', 0], ['Marie Curie', 1], ['Grace Hopper', 2], ['Alan Turing', 3], ['Rosalind Franklin', 0], ['Elizabeth Blackwell', 1], ['Rene Descartes', 2], ['Ahmed Zewail', 2], ['Chien-Shiung Wu', 1], ['William Sanford Nye', 2], ['Carl Sagan', 1], ['Jane Goodall', 1], ['Richard Feynman', 1]]

How many students are in web development? data science?

In [33]:
students_in_web_dev = count([1 for student in students if student['course'] == 'web development'])
print(f"There are {students_in_web_dev} students taking the web development course.")

There are 7 students taking the web development course

In [36]:
students_in_data_science = count([1 for student in students if student['course'] == 'data science'])
print(f"There are {students_in_data_science} students taking the data science course.")

There are 7 students taking the data science course.

What is the average number of pets for students in web development?

In [44]:
web_dev_pets = count([pet['species'] for student in students for pet in student['pets'] if student['course'] == 'web development'])

avg_pets_per_wd_student = web_dev_pets / students_in_web_dev

print(f"There is an average of {round(avg_pets_per_wd_student, 2)} pets per web development student.")

There is an average of 1.29 pets per web development student.

In [47]:
ds_pet_avg_age = avg([pet['age'] for student in students for pet in student['pets'] if student['course'] == 'data science'])

ds_pet_avg_age

print(f"The average age of data science students' pets is {round(ds_pet_avg_age, 2)} years.")

The average age of data science students' pets is 5.44 years.

In [54]:
ds_coffee_preference = [student['coffee_preference'] for student in students if student['course'] == 'data science']
print(ds_coffee_preference)
dark_count = 0
medium_count = 0

for preference in ds_coffee_preference:
    if preference == 'dark':
        dark_count += 1
    else:
        medium_count += 1

ds_coffee_preference
print(f'{medium_count} data science student prefer medium coffee and {dark_count} data science students prefer dark coffee.')

['medium', 'dark', 'dark', 'medium', 'medium', 'dark', 'medium']
4 data science student prefer medium coffee and 3 data science students prefer dark coffee.

What is the average grade for students with at least 2 pets?

In [98]:
students_with_atleast_two_pets = [student['student'] for student in students if len(student['pets']) > 1]
students_with_atleast_two_pets

grades_of_two_pet_students = [student['grades'] for student in students if student['student'] in students_with_atleast_two_pets]
grades_of_two_pet_students

def combine_list():
    combined_list = []

    for x in grades_of_two_pet_students:
        combined_list = combined_list + x
    return combined_list

print(f"The average grade for students with at least two pets is {avg(combined_list)}.")

The average grade for students with at least two pets is 83.8.

How many students have 3 pets?

In [60]:
students_with_three_pets = [student['student'] for student in students if len(student['pets']) == 3]
students_with_three_pets

['Alan Turing']

In [125]:
def combinelist(lst):
    combined_list = []
    for x in lst:
        for ele in x:
            combined_list.append(ele)
    return combined_list


students_with_zero_pets = [student['student'] for student in students if len(student['pets']) == 0]
print(students_with_zero_pets)

grades_for_zero_pet_students = [student['grades'] for student in students if student['student'] in students_with_zero_pets]
print(grades_for_zero_pet_students)

combined_list = combinelist(grades_for_zero_pet_students)
print(combined_list)

#combined_list = [7,7]
avg_grades_zero_pet_students = avg(combined_list)

print(f"The average grade for students with no pets is {round(avg_grades_zero_pet_students, 2)}.")

['Thomas Bayes', 'Rosalind Franklin']
[[75, 73, 86, 100], [76, 70, 96, 81]]
[75, 73, 86, 100, 76, 70, 96, 81]
The average grade for students with no pets is 82.12.

What is the average grade for web development students? data science students?

In [131]:
#avg grade for web dev students

wd_student_grades = [student['grades'] for student in students if student['course'] == 'web development']
#print(wd_students)

avg_wd_student_grade = avg(combinelist(wd_student_grades))

print(f" The averge web development student's grade is {round(avg_pets_per_wd_student, 3)}.")

 The averge web development student's grade is 1.286.

In [133]:
#avg grade for data science students

ds_student_grades = [student['grades'] for student in students if student['course'] == 'data science']
#print(wd_students)

avg_ds_student_grade = avg(combinelist(ds_student_grades))

print(f" The averge web development student's grade is {round(avg_ds_student_grade, 3)}.")

 The averge web development student's grade is 84.679.

What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

In [139]:
#Use list comprehension to return a list of the students grades for those that drink dark coffee
grades_of_dark_coffee_drinkers = [student['grades'] for student in students if student['coffee_preference'] == 'dark']

#Use the combine list function to convert the list of lists into a normal list
combined_list = combinelist(grades_of_dark_coffee_drinkers)

#Use the max() function to calculate the m value of all the grades in the list
#then assign the value to the max_dark_coffee_grade variable
max_dark_coffee_grade = max(combined_list)

#Use the min() function to calculate the min value of all the grades in the list
#then assign the value to the min_dark_coffee_grade variable
min_dark_coffee_grade = min(combined_list)

#Present the value to the user
print(f"The average grade range of dark coffee drinkers is {min_dark_coffee_grade} to {max_dark_coffee_grade}.")

The average grade range of dark coffee drinkers is 65 to 99.

What is the average number of pets for medium coffee drinkers?

In [193]:
num_of_pets_per_mcoffee_students = [len(student['pets']) 
                                    for student in students 
                                    if student['coffee_preference'] == 'medium']
num_of_pets_per_mcoffee_students

print(f"The average number of pets among students who drink medium coffee is {round(avg(num_of_pets_per_mcoffee_students), 3)}.")

The average number of pets among students who drink medium coffee is 1.167.

What is the most common type of pet for web development students?

In [186]:
pet_list_of_wd_students = [pet['species'] for student in students for pet in student['pets'] if student['course'] == 'web development']
pet_list_of_wd_students

['horse', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'horse', 'dog']

In [191]:
#Makes a list that only returns the counts of the different pet types within the list of pets owned by web dev 
#students
pet_count_list = [pet_list_of_wd_students.count(pet_type) 
                  for pet_type in set(pet_list_of_wd_students)]
#print(pet_count_list)

#A variable to store the largest count for a pet type
count_of_most_common_pet = max(pet_count_list)

#A dictionary that references the previously collected information to list each pet type and its count with 
#dictionary keys 'pet' and 'count'
pet_type_dict = [{'pet': pet_type, 'count': pet_list_of_wd_students.count(pet_type)} 
                 for pet_type in set(pet_list_of_wd_students)]
#print(pet_type_dict)

#determines the most common pet by scanning the dictionary for the pet type that matches the most common pet count
most_common_pet = [pet['pet'] 
                   for pet in pet_type_dict 
                   if pet['count'] == count_of_most_common_pet]

most_common_pet = most_common_pet[0]
#print(most_common_pet)

#Presents the most common pet to the user
print(f"The most common type of pet web development students have is a {most_common_pet}.")

The most common type of pet web development students have is a horse.